.dialogsBox {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  display: flex;
  flex-direction: column;
  padding: 1.25vh 1vw;
}

.dialogsItems>a {
  text-decoration: none;
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: end;
}


