.app-wrapper {
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-template-areas: 
  "h h"
  "n c";
  grid-template-rows: 7vh 1fr;
  grid-template-columns: 2fr 10fr;
}

.app-content-wrapper {
  grid-area: c;
  background-color: yellow;
}
